* {   
    margin: auto;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 100vh;
}


.desktop {
    margin: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
}



.red-turn-text {
    text-align: center;
    color: black;
    font-family: "open sans";
    font-size: 55px;
}

.black-turn-text {
    text-align: center;
    font-family: "open sans";
    font-size: 55px;
    color: lightgray;
}


td {   /* these attributes apply both to black and white cells */
    width: 65px;
    height: 65px;
    text-align: center;
}

.white {
    background-color: #F0D2B4 
}

.black {
    background-color: #BA7A3A /* we consider this color as black */
}


.black-piece {
    width: 20px;
    height: 20px;
    padding: 12px;
    background-color: black;
    border: 1px solid white;
    border-radius: 50px;
}


.red-piece {
    width: 20px;
    height: 20px;
    padding: 12px;
    background-color: red;
    border: 1px solid white;
    border-radius: 50px;
}

.king.black-piece {  /*if you are both king and black piece*/
    background-color: purple;
}

.king.red-piece {
    background-color: orange;

}

p {
    display: inline-block;
}

#divider {
    font-size: 90px;
    margin-left: 15px;
    margin-right: 15px;
}