*{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    
}

/* body{
    background-size: 300% 300%;
    background-image: linear-gradient(-45deg, rgb(174, 174, 174) 0%, rgb(90, 90, 90) 25%, rgb(0, 0, 0) 51%, #79032e 100%);
  -webkit-animation: AnimateBG 5s ease infinite;
          animation: AnimateBG 5s ease infinite;
  }
  @-webkit-keyframes AnimateBG {
      0% {
        background-position: 0% 50%;
      }
      50% {
        background-position: 100% 50%;
      }
      100% {
        background-position: 0% 50%;
      }
      }
      
      @keyframes AnimateBG {
      0% {
        background-position: 0% 50%;
      }
      50% {
        background-position: 100% 50%;
      }
      100% {
        background-position: 0% 50%;
      }
      } */
    h1{
        text-align: center;
        color: goldenrod;
        font-weight: 600;
        transition: 0.5s;
    }

    h1:hover {
        -webkit-text-stroke: 2px goldenrod;
        color: transparent;
    }